<%= form_with(model: type, class: "contents") do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
        <% type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name != "edit" && @categories %>

  <div class="my-5">
    <%= form.label :category_id %>
    <%= form.select :category_id,
      @categories.map { |category| [category.category_name, category.id] },
      {selected: "", disabled: "", prompt: 'Please select category'},
      { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"}
    %>
  </div>

  <% end %>

  <div class="my-5">
    <%= form.label :type_name %>
    <%= form.text_field :type_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
