<div id="<%= dom_id type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= type.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type name:</strong>
    <%= type.type_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this type", type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this type', edit_type_path(type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
