<%if @category&.image.attached? %>
  <div class="bg-cover bg-center bg-repeat flex justify-center items-center mb-6 relative", style="background-image: url('<%= url_for(@category.image) %>'); height: 150px; width: 100%;">
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-black opacity-40 z-40 h-full" style="background-color: black; opacity: 0.4; height: 100%;"> </div>
    <div class="w-full relative z-50">
      <div class="container text-left mx-auto">
        <div class="text-white text-4xl"><%= @category.category_name.upcase %></div>
      </div>
    </div>

  </div>
<% end %>

<% @subcategories&.each do |subcategory| %>

  <div class="bg-cover bg-center container  flex justify-center items-center mb-6 mx-auto relative", style="background-image: url('<%= url_for(subcategory.image) if  subcategory.image.attached?%>'); height: 250px; width: 90%;">
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-black opacity-40 z-30 h-full" style="background-color: black; opacity: 0.4; height: 100%;"> </div>
      <div class="w-full relative z-50">
        <div class="text-center">
          <div class="text-white text-3xl mb-6"><%= subcategory.name.upcase %></div>
          <button>
            <%= link_to "See all products", subcategory, class: "block text-xl rounded py-2 px-6 bg-blue-600 hover:bg-blue-400 text-white" %>
          </button>
        </div>
      </div>
  </div>
<% end %>

