<div class="columns align-items-center ml-3">
  <div class="column is-1">
    <%= line_item.quantity %>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
      <% if line_item.product.image.attached? %>
        <%= image_tag(line_item.product.image, class: "w-24") %>
      <% end %>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= line_item.product.product_name %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(line_item.product.dimensions, length: 140) %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(line_item.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button is-small mb4" %>
</div>