<!DOCTYPE html>
<html>
  <head>
    <title>FurnitureStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </head>

  <body >
    <div class="flex relative">
      <div class="hidden fixed space-y-0 right-0 w-60 lg:flex lg:relative" id="sideBar">
        <div class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"
          onclick="document.getElementById('sideBar').classList.toggle('hidden');"></div>

        <div :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
          class="fixed z-30 inset-y-0 left-0 w-60 transition duration-300 transform bg-white dark:bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0">
          <div class="flex items-center justify-center mt-8">
            <div class="flex items-center">
              <span class="text-gray-800 dark:text-white text-2xl font-semibold">Dashboard</span>
            </div>
          </div>

          <nav class="flex flex-col mt-10 px-4 text-center">
            <%= link_to "Home", dashboard_root_path,
          class: "py-2 text-sm text-gray-700 dark:text-gray-100 bg-gray-200 dark:bg-gray-800 rounded" %>
            <%= link_to "Add products", "#",
            class: "mt-3 py-2 text-sm text-gray-600 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-100  hover:bg-gray-200 dark:hover:bg-gray-800 rounded" %>
            <%= link_to "Account", edit_user_registration_path,
            class: "mt-3 py-2 text-sm text-gray-600 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-800 rounded" %>
          </nav>
        </div>
      </div>

      <div class="w-full">
        <header class="flex justify-between items-center p-6">
          <div class="flex items-center space-x-4 lg:space-x-0">
            <div>
              <h1 class="text-2xl font-medium text-gray-800 dark:text-white">Welcome back, <%= current_user.email %></h1>
            </div>
          </div>

          <div class="flex items-center space-x-4">
            <button class="flex text-gray-600 dark:text-gray-300 focus:outline-none">
              <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>

            <div x-data="{ dropdownOpen: false }" class="relative">
              <button @click="dropdownOpen = ! dropdownOpen"
                class="flex items-center space-x-2 relative focus:outline-none">
                <h2 class="text-gray-700 dark:text-gray-300 text-md font-semibold hidden sm:block mr-3"><%= current_user.email %></h1>
                </h2>
                <img class="h-9 w-9 rounded-full border-2 border-purple-500 object-cover"
                  src="https://images.unsplash.com/photo-1628260412297-a3377e45006f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1548&q=80"
                  alt="Your avatar">
              </button>

              <div class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
                x-show="dropdownOpen" x-transition:enter="transition ease-out duration-100 transform"
                x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75 transform"
                x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
                @click.away="dropdownOpen = false">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white">Profile</a>
                <%= link_to "Edit Profile", edit_user_registration_path, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white", role: "button" %>
                <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white", role: "button" %>
              </div>
            </div>
            <button onclick="document.getElementById('sideBar').classList.toggle('hidden');"
              class="text-gray-500 dark:text-gray-300 focus:outline-none lg:hidden">
              <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </header>

        <div class="flex h-screen font-roboto">
          <main class="flex-1 overflow-x-none overflow-y-none">
            <div class="container mx-auto px-6 py-8">
              <%= render partial: "layouts/flash" %>
              <%= yield %>
            </div>
          </main>
        </div>
      </div>

    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>